<div id="local">
  <h2><b>Localização</b> Pagode Multishow</h2><br/>
	
	<iframe id="mapa" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Salao+multifestas&amp;aq=&amp;sll=-21.778471,-41.328753&amp;sspn=0.005649,0.009645&amp;vpsrc=0&amp;ie=UTF8&amp;hq=Salao+multifestas&amp;hnear=&amp;ll=-21.779067,-41.32928&amp;spn=0.005898,0.009645&amp;z=14&amp;iwloc=A&amp;cid=13067920291119213666&amp;output=embed"></iframe>

</div>
