<div id="home">
  <div id="menuadminitrador">
	  <%= link_to '', agendas_path, :class => "consultaragenda" %>
	  <%= link_to 'Parceiro', parceiros_path, :class => "consultarparceiro" %>
	</div>
	
	<%= link_to '', root_path, :class => "voltar"%>
	
</div>	
