<div id="home">
  <% if can? :manage, :all %>
   <div id="menuadminitrador">
	   <%= link_to '', root_path, :class => "menualterar" %>
	   <%= link_to '', root_path, :class => "menucadastrar" %>
	   <%= link_to '', root_path, :class => "menuconsultar" %>
	 </div>
	
	<% else %>
	
	
	<% end %>


</div>
