<div id="historia">
						<h2><b>História</b> do Pagode Multishow</h2><br/>
						
						<p> No dia 09/05/2010, dar-se inicio ao <span class="destaque">PAGODE MULTISHOW</span>, projeto que surge da parceria entre o <span class="destaque">Anderson "Dedinho"</span>, vocalista do Grupo <span class="destaque">Sem Marra</span>, e o <span class="destaque">Multifestas</span>.</p>
						<p> Com uma proposta inovadora e diferenciada, o pagode é realizado aos domingos das 17h até as 22h30min, em um espaço amplo, arejado, bastante iluminado, com mesas (Chegando cedo ainda é possível sentar, depois o local enche e ninguém mais fica parado), cerveja no balde e iscas variadas. </p>
						<p> O pagode de primeira fica por conta do <span class="destaque">Grupo Sem Marra</span>, que apesar de ter pouco tempo de formação, seus integrantes possuem ampla experiência no samba, esbanjam alegria, carisma e carinho com o público. Nos intervalos quem comanda o som são os DJs e sempre que possível o Pagode Multishow e o Grupo Sem Marra trás um convidado especial.</p>
				  
				  
				<img src="/assets/logos2.gif" class="logos"/>

</div>
