<div id="dadosformulario">
  <h2><b>Cadastrar</b> Agenda</h2><br>
	<strong>Preencha o formulário abaixo para cadastrar evento na agenda do sistema.</strong><br><br>

  <%= render 'form' %>
  
</div>

