<div id="formulario">
  <p>
    <b>Data:</b>
    <%= @agenda.data.to_s_br %>
  </p>

  <p>
    <b>Descricao:</b>
    <%= @agenda.descricao %>
  </p>

  <p>
    <b>Horario:</b>
    <%= @agenda.horario %>
  </p>

  <p>
    <b>Tipo:</b>
    <%= @agenda.tipo %>
  </p>


</div>

