<div id="home">
  <div id="dadosformulario">
    <h2><b>Editar</b> Recado</h2><br>

    <%= render 'form' %>
  </div>
  
  <%= link_to "", alterar_deletar_parceiros_path, :class => "voltar" %>
</div>
