<div id="home">
  <div id="dadosformulario">
    <h2><b>cadastrar</b> Recado</h2><br>
  
    <%= render 'form' %>
    
  </div>
  
  <%= link_to "", listar_recados_path, :class => "voltar" %>
    
</div>

