<div id="recadoadmin">
  <h2><b>Usuários </b> cadastrados</h2><br/>
  
  <div id = "relatoriorecado">
     <% @usuarios.each do |usuario| %>
        <% if can? :manage, :all %>
         <p> <%= usuario.id %> - <%= link_to usuario.nome, usuario_path(usuario) %></p>
        <% else %>

        <% end %>
     <% end%>
  </div>
</div>
