<div id="fotos"> 
			<h2><b>Passado e Presente</b> Juntos no Pagode Multishow</h2><br/>
		
			<div id="gallery">
						<ul>
							<li><a href="/assets/fotos/pepinhoegil/foto.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto2.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto2_editada.jpg" width="100" alt="" />
							</a></li>
						   <li><a href="/assets/fotos/pepinhoegil/foto3.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto3_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto4.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto4_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto5.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto5_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto6.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto6_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto7.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto7_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto8.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto8_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto9.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto9_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto10.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto10_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto11.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto11_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto12.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto12_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto13.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto13_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto14.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto14_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto15.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto15_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto16.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto16_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto17.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto17_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto18.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto18_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto19.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto19_editada.jpg" width="100" alt="" />
							</a></li>
							<li><a href="/assets/fotos/pepinhoegil/foto20.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto20_editada.jpg" width="100" alt="" />
							</a></li>
							
							
							
							
							
							
							<li><a href="/assets/fotos/pepinhoegil/foto21.jpg" title="Pepinho, Gil Paixão, Sem Marra e DJ Tindale - Pagode Multishow">
								<img src="/assets/fotos/pepinhoegil/foto21_editada.jpg" width="100" alt="" />
							</a></li>
							
							
							</div>
				

			</div>
				
				
				 <%= link_to '', fotos_path, :class => "voltar"%>				
